* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #323330;
}

p , h2{
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    background-color: #f0db4f;
    padding: 1%;
    margin: 0px;
}

.menu_item {
    padding: 3%;
    vertical-align: middle;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #323330;
}

.menu_item_direita {
    display: flex;
    float: right;
    vertical-align: middle;
    padding: 1%;
}

.menu_item:hover {
    text-decoration: underline;
}

.menu_logo {
    height: 100px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}

#banner{
    width: 100%;
    height: 400px;
    background-color: #ffdead;
}

.texto-sobre{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: 20%;
    color: white;
    font-size: 18px;
}